html, body {
	margin: 0;
	padding: 0;
	background-color: #F0F0F0;
	font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Roboto Condensed', sans-serif;
	margin: 0;
	padding: 0;
	display: inline-block;
}

a {
	color: blue;
}

button {
	display: flex;
	align-items: center;
}

button img {
	width: 1.5em;
	margin-right: 0.5em;
}

.archive-link {
	color: #696FC5;
}

.text-icon {
	display: inline;
}

.file {
	display: flex;
	align-items: center;
	margin-left: 0.5em;
}

#header {
	background-color: #FFFEF2;
	border-bottom: solid 1px #999999;
	height: 4em;
	display: flex;
	align-items: center;
}

#header .logo {
	margin-left: 0.5em;
	width: 3.5em;
	height: 3.5em;
	background-image: url(../image/logo.png);
	background-size: 100% 100%;
}

#header .title {
	margin-left: 0.25em;
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: bold;
	font-size: 2em;
}

#header form {
	flex: 1;
	text-align: center;
}

#header form .query {
	width: 20em;
}

.subheader {
	border-bottom: solid 1px #999999;
	background-color: #FFFEF2;
	padding: 1em;
}

#container {
	background-color: #FFFEF2;
	width: 100%;
	height: calc( 100vh - 4em - 1px );
	display: flex;
}

#side {
	width: 15em;
	height: 100%;
	background-color: #F8F8F8;
	border-right: solid 1px #999999;
}

#side .navitem {
	display: flex;
	align-items: center;
	background-color: #FFFFFF;
	border-bottom: solid 1px #999999;
	padding: 0.5em;
}

#side .navitem .icon {
	width: 2em;
	height: 2em;
	margin-right: 1em;
}

#side .navitem a {
	color: blue;
}

#content_container {
	background-color: #F8F8F8;
	width: calc( 100% - 15em );
	max-width: 55em;
	height: 100%;
	overflow-y: scroll;
}

#content {
	padding: 1em;
}

.tender {
	padding: 1em;
	background-color: #FFFFFF;
	border-bottom: solid 1px #999999;
}

.tender .id a {
	color: blue;
}

.tender .price {
	color: green;
}

.tender .subinfo {
	color: #555555;
	font-size: 0.9em;
}

.tender .org {
	color: #555555;
	font-size: 0.7em;
}

.tender .profit {
	color: #BB6D1F;
	font-weight: bold;
}

.tender details {
	border: solid 1px #CCC;
	background-color: #EEE;
	padding: 0.25em;
}

.image-button {
	height: 2em;
	display: inline-flex;
	align-items: center;
}

.title-with-icon {
	display: flex;
	align-items: center;
	font-weight: bold;
	font-size: 1.5em;
} 

.title-icon {
	width: 3em;
}

.hidden {
	display: none;
}
