.tender .commentary {
	width: 100%;
	height: 10em;
	border: inset 1px #999;
	overflow-y: scroll;
	overflow-x: auto;
	resize: both;
}

table.solution {
	border-collapse: collapse;
	width: 100%;
	font-size: 0.8em;
}

table.solution tr td {
	border: solid 1px #666;
	background: #fff;
}

table.solution tbody:first-child tr td {
	background: #ccc;
}

table.solution input {
	border: none;
	padding: 0;
	margin: 0;
	width: 100%;
}

table.solution input:focus {
    outline:none;
}

table.solution img {
	float: left;
	height: 1em;
	width: 1em;
	cursor: pointer;
}

table.solution tr td:last-child input {
	width: calc( 100% - 1em );
	color: blue;
}

#fullscreen_window {
	position: fixed;
	top: 50px;
	bottom: 50px;
	left: 100px;
	right: 100px;
	background-color: #FFFFFF;
	border: inset 1px #999;
	box-shadow: 3px 2px 10px #999999;
}

#fullscreen_window .title {
	background-color: #FFFEF2;
	border-bottom: solid 1px #999;
	padding: 0.25em;
	height: 1.5em;
}

#fullscreen_window .content {
	height: calc( 100% - 2em );
	width: calc( 100% - 1px ); 
	overflow: scroll;
}

#fullscreen_window .close {
	width: 1.5em;
	float: right;
}

.hidden {
	display: none;
}

