.search_form {
	border-bottom: solid 1px #999999;
	background-color: #FFFEF2;
	padding: 1em;
}

.search_form table {
	width: 100%;
}

.search_form input {
	width: calc( 100% - 2em );
}

.pages {
	padding: 1em;
	text-align: center;
}
